// Spacing
$SPACING_XS: 0.25rem; // 4px
$SPACING_S: 0.5rem; // 8px
$SPACING_M: 1rem; // 10px
$SPACING_L: 2rem; 
$SPACING_XL:4rem;
$SPACING_XXL:6rem;

// font-size
$Fontsize_S : 1rem ;// 16px
$Fontsize_L: 4rem// 63px